.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(37, 31, 31, 0.8);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.modal-body {
    padding: 2rem;
    width: 400px;
    border-radius: 5px;
    background:rgb(192, 178, 178);
    height: 200px;
}